[submodule "pack/myplugins/start/vim-commentary"]
	path = pack/myplugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/myplugins/start/vim-fugitive"]
	path = pack/myplugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/myplugins/start/ultisnips"]
	path = pack/myplugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "pack/myplugins/start/vim-sessionist"]
	path = pack/myplugins/start/vim-sessionist
	url = https://github.com/manasthakur/vim-sessionist.git
[submodule "pack/myplugins/start/vim-vinegar"]
	path = pack/myplugins/start/vim-vinegar
	url = https://github.com/manasthakur/vim-vinegar.git
